:root {
    --vp-c-brand-1: #507dae;
    --vp-c-brand-2: #626262;


    /* logo colors */ 
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--vp-c-brand-1) 30%, var(--vp-c-brand-2));
    --vp-home-hero-image-background-image: linear-gradient(-45deg, var(--vp-c-brand-1) 50%, var(--vp-c-brand-2) 50%);
    --vp-home-hero-image-filter: blur(88px);

    /* fonts */
    --vp-font-family-base: 'Noto Sans', 'Inter', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --vp-font-family-mono: 'Source Code Pro', monospace;
    font-optical-sizing: auto;


    --vp-c-bg: #dfe5ef;
    --vp-c-bg-alt: #e4efff;
    --vp-c-bg-elv: #ebf2fe;
    --vp-c-bg-soft: #d0ddef;
    --vp-c-bg-soft-1: #b4c0d1;
}
  
.dark {
    --vp-c-brand-1: #6ca8e8;
    --vp-c-brand-2: #818181;

    --vp-c-bg: #1b1b1f;
    --vp-c-bg-alt: #161618;
    --vp-c-bg-elv: #202127;
    --vp-c-bg-soft: #202127;
    --vp-c-bg-soft-1: #303137;
}
